<!DOCTYPE html>
<html>
<head>
    <title>Climber Prediction Form</title>
</head>
<body>
    <h3>Climber Prediction Form</h3>
    <form action="/result" method="POST">
        <label for="athlete_id">Athlete ID</label>
        <input type="number" id="athlete_id" name="athlete_id" required><br>

        <input type="hidden" name="season" value="2000">
        <input type="hidden" name="d_cat" value="141">


        <label for="event_id">Event ID</label>
        <input type="number" id="event_id" name="event_id" required><br>


        <label for="discipline_boulder">Discipline Boulder (yes/no)</label>
        <input type="text" id="discipline_boulder" name="discipline_boulder" required><br>

        <label for="discipline_lead">Discipline Lead (yes/no)</label>
        <input type="text" id="discipline_lead" name="discipline_lead" required><br>

        <label for="gender">Gender (Female/Male)</label>
        <input type="text" id="gender" name="gender" required><br>

        <label for="age_at_comp">Age at Competition</label>
        <input type="number" step="0.01" id="age_at_comp" name="age_at_comp" required><br>

        <label for="country">Country</label>
        <input type="text" id="country" name="country" required><br>

        <label for="year">Year</label>
        <input type="number" id="year" name="year" required><br>

        <label for="month">Month</label>
        <input type="number" id="month" name="month" required><br>

        <label for="dayofyear">Day of Year</label>
        <input type="number" id="dayofyear" name="dayofyear" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
